body{margin: 15% 0% 0% 0%;}
	#container{
		height: 50%;
		width: 80%;
		margin: 0px auto;
		position: relative;
		}
		#carousel{
			width: 20%;
			position: absolute;
			top: 0px; left: 0px;
			}
		#gallery{
			width: 70%;
			position: absolute;
			top: 0px; right: 0px;
			}